* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html, body {  
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
#card {
    height: 450px;
    width: 300px;
    border-radius: 10px;
    background-color: #fff;
    padding: 30px;
    text-align: center;  /*content of h1*/
}
#card img {
    height:50%;
    width: 100%;
    object-fit: cover;
    object-position: right;
    border-radius: 10px;
}
#card h1{
    font-size: 30px;
    margin: 2px 0;
    font-weight: 700;
}
#card h5 {
    font-size: 25px;
    color: red;
    margin-bottom: 12px;
}
#card button {  /* #card ke andar button ko style kr rhe*/
    background-color: cadetblue;
    color: #fff;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    cursor: pointer;
}
#card #remove {
    background-color: #dadada;
    color: #111;
}